[submodule "lua"]
	path = src/lua
	url = https://github.com/SongZihui-sudo/lua.git
[submodule "pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "lw-oopc"]
	path = lib/lw_oopc
	url = https://github.com/Akagi201/lw_oopc.git